body {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 600px;
  gap: 20px;
}

.header {
  background-color: rgb(189, 230, 173);
  display: flex;
  justify-content: center;
  margin-top: 10spx;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 2px 5px rgb(122, 122, 122);
  /* color: rgb(231, 231, 231); */
}

.grid {
  min-width: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
}

.square {
  /* border: 1px solid rgb(255, 255, 255); */
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.left-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eraser {
  flex-grow: 1;
}

.grid-size {
  padding: 0 40px;
  font-size: 25px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.grid-dimension {
  font-weight: bold;
}

.slider {
  background-color: rgb(0, 187, 0);
}

.color-options {
  padding: 15px 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.color {
  background-color: rgba(128, 128, 128, 0);
  border: 3px solid rgb(235, 231, 231);
  font-weight: bold;
  border-radius: 8px;
  font-size: 32px;
  cursor: pointer;
  width: 180px;
  padding: 7px 0;
}

.header,
.controls {
  background-color: rgb(189, 230, 173);
}

.header,
.grid,
.controls {
  box-shadow: 0 0 10px 1px rgb(173, 173, 173);
}
