.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  min-width: 700px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
}

.square {
  background-color: lightblue;
  border: 1px solid darkblue;
  flex-grow: 1;
}
